body {
    font-family: 'Tilt Neon', cursive;
    background-color: #ebebeb;
}

h1 {
    text-align: center;
    margin: 30px 0px;
}

h2 {
    text-align: center;
    margin: 20px 0px;
    color: #fc0303;
}

table {
    margin: 0 auto;
    border: 2px solid #fc0303;
    width: 70%;
}

thead {
    background-color: #f55d5d;
}

.header {
    text-align: left;
}

.code {
    font-family: monospace;
    background-color: #fae19b;
}